/* Notifications.css */

.Notifications ul {
  list-style-type: none;
  padding: 0;
}

.Notifications ul li {
  margin: 5px 0;
}

.Notifications ul li[data-priority="default"] {
  color: blue;
}

.Notifications ul li[data-priority="urgent"] {
  color: red;
}
